<div class="flex flex-col md:flex-row justify-center">
  <lib-card class="w-full md:w-3/12 mt-10">
    <ng-template libCardBody>
      <form class="flex flex-col gap-6 p-4" (submit)="$event.preventDefault(); login()">
        <lib-field
          [label]="'login.email' | transloco"
          controlId="login-email"
          [error]="emailError() | transloco"
        >
          <input
            libInput
            type="email"
            autocomplete="username"
            [formField]="loginForm.email"
          />
        </lib-field>

        <lib-field
          [label]="'login.password' | transloco"
          controlId="login-password"
          [error]="passwordError() | transloco"
        >
          <input
            libInput
            type="password"
            autocomplete="current-password"
            [formField]="loginForm.password"
          />
        </lib-field>

        <button
          libButton
          type="submit"
          class="w-full"
          [disabled]="loginForm().invalid()"
        >
          <i class="pi pi-user" aria-hidden="true"></i>
          {{ 'login.submit' | transloco }}
        </button>
      </form>
    </ng-template>
  </lib-card>
</div>
