<!-- <p-button label="Change Page" (onClick)="productsCatalogStore.changePage(2)" /> -->

<div class="flex gap-10 flex-col lg:flex-row items-start">
  <div class="grid grid-cols-1 gap-4 w-full lg:max-w-[300px]">
    <div class="bg-gray-100 dark:bg-gray-900 p-8">
      <h4 class="font-medium leading-none text-xl sm:text-2xl mb-5 sm:mb-6">
        Price Range
      </h4>

      <app-price-range-slider
        [min]="productsCatalogStore.priceRangeState.options().floor ?? 0"
        [max]="productsCatalogStore.priceRangeState.options().ceil ?? 0"
        [options]="productsCatalogStore.priceRangeState.options()"
        [pointerType]="'square-pointer'"
        (userChangeEnd)="productsCatalogStore.onPriceRangeUserChangeEnd($event)"
      >
        <ng-template priceRangeDisplay let-context>
          <app-price-range-display
            [minRange]="context.minRange"
            [maxRange]="context.maxRange"
            [maxValue]="context.maxValue"
          ></app-price-range-display>
        </ng-template>
      </app-price-range-slider>
    </div>

    @for (filter of productsCatalogStore.productFilters(); track
    filter.attributeId) {
    <div class="bg-gray-100 dark:bg-gray-900 p-8">
      <h4 class="font-medium leading-none text-xl sm:text-2xl mb-5 sm:mb-6">
        {{ filter.attributeName }}
      </h4>

      @switch (filter.inputType) { @case ('radio') { @for (filterValue of
      filter.values; track filterValue.valueId) {
      <div>
        <p-radiobutton
          [inputId]="'' + filterValue.valueId"
          [field]="signalForm.dynamicFields[filter.attributeId]"
          [name]="filter.attributeName"
          [value]="filterValue.valueId"
          [disabled]="filterValue.productItemsCount === 0"
        />
        <label [for]="filter.attributeName" class="ml-2">
          {{ filterValue.valueName }}
        </label>
        ({{ filterValue.productItemsCount }})
      </div>
      } } @case ('checkbox') { @for (filterValue of filter.values; track
      filterValue.valueId) {
      <div>
        <p-checkbox
          [inputId]="'' + filterValue.valueId"
          [field]="signalForm.dynamicFields[filter.attributeId]"
          [name]="filter.attributeName"
          [value]="filterValue.valueId"
          [disabled]="filterValue.productItemsCount === 0"
        />
        <label [for]="filter.attributeName" class="ml-2">
          {{ filterValue.valueName }}
        </label>
        ({{ filterValue.productItemsCount }})
      </div>
      } } }
    </div>
    }
  </div>
  <div class="flex-1 flex-col">
    @if (productsCatalogStore.isPending()) {
    <div class="card flex justify-center">
      <p-progress-spinner
        strokeWidth="8"
        fill="transparent"
        animationDuration=".5s"
        [style]="{ width: '50px', height: '50px' }"
      />
    </div>
    } @if (productsCatalogStore.isFulfilled()) {
    <div
      class="grid 3xl:grid-cols-4 2xl:grid-cols-3 xl:grid-cols-3 lg:grid-cols-2 gap-8 flex-1"
    >
      @for (product of productsCatalogStore.products(); track $index) {

      <app-card class="product-card">
        <ng-template cardHeader>
          <app-card-header [actionsPlacement]="'center'">
            <ng-template cardHeaderContent>
              <div class="w-full h-full overflow-hidden">
                <app-image
                  class="relative h-90 flex product-card-image"
                  [image]="product.image"
                ></app-image>
              </div>
            </ng-template>
            <ng-template cardHeaderActions>
              <div
                class="header-actions-container absolute z-10 right-3 transform opacity-0 duration-300 transition-all flex flex-col items-end gap-3"
              >
                <div
                  class="bg-white dark:bg-title dark:text-white bg-opacity-80 flex gap-2 p-[10px] text-base leading-none text-title rounded-[40px] h-[60px] overflow-hidden new-product-icon"
                >
                  <p-button icon="pi pi-heart" [rounded]="true" [text]="true" />
                </div>
                <div
                  class="bg-white dark:bg-title dark:text-white bg-opacity-80 flex gap-2 p-[10px] text-base leading-none text-title rounded-[40px] h-[60px] overflow-hidden new-product-icon"
                >
                  <div class="flex items-center justify-center gap-2">
                    <app-cart-quantity-control
                      [quantity]="product.quantity"
                      (addItemToCart)="productsCatalogStore.addItemToCart(product.id)"
                      (removeItemFromCart)="productsCatalogStore.removeItemFromCart(product.id)"
                    ></app-cart-quantity-control>
                    @if (product.quantity === 0) {
                    <span>Add to Cart</span>
                    }
                  </div>
                </div>
                <div
                  class="bg-white dark:bg-title dark:text-white bg-opacity-80 flex gap-2 p-[10px] text-base leading-none text-title rounded-[40px] h-[60px] overflow-hidden new-product-icon"
                >
                  <p-button icon="pi pi-heart" [rounded]="true" [text]="true" />
                </div>
              </div>
            </ng-template>
          </app-card-header>
        </ng-template>

        <ng-template cardBody>
          <app-card-body>
            <ng-template cardBodyTitle>{{ product.name }}</ng-template>
            <ng-template cardBodyDescription>
              {{ product.salePrice | currency: 'EUR':'symbol':'1.2-2' }}
            </ng-template>
          </app-card-body>
        </ng-template>
      </app-card>
      }
    </div>
    <app-paginator
      [totalRecords]="productsCatalogStore.totalResults()"
      [rowsPerPageOptions]="productsCatalogStore.totalItemsPerPageOptions()"
      (changePage)="productsCatalogStore.changePage($event)"
    ></app-paginator>
    }
  </div>
</div>
