<h1>Products Catalog</h1>

<button
  style="display: block"
  (click)="productsFacade.getProductsPaginatedFilteredBy({ page: 2, limit: 5 })"
>
  Load Products
</button>
<div class="grid grid-cols-4 gap-8">
  @for (product of productsFacade.productsViewModel(); track $index) {

  <app-card>
    <ng-template cardHeader>
      <app-card-header>
        <ng-template cardHeaderContent>
          <app-image
            class="relative h-112 flex"
            [image]="product.image"
          ></app-image>
        </ng-template>
        <ng-template cardHeaderActions>
          <app-cart-quantity-control
            [quantity]="product.quantity"
            (addItemToCart)="productsFacade.addItemToCart(product.id)"
            (removeItemFromCart)="productsFacade.removeItemFromCart(product.id)"
          ></app-cart-quantity-control>
        </ng-template>
      </app-card-header>
    </ng-template>

    <ng-template cardBody>
      <app-card-body>
        <ng-template cardBodyTitle>{{ product.name }}</ng-template>
        <ng-template cardBodyDescription>
          {{ product.salePrice | currency: 'EUR':'symbol':'1.2-2' }}
        </ng-template>
      </app-card-body>
    </ng-template>
  </app-card>
  }
</div>
